/* Aperçu fidèle des classes persistées par les convertisseurs Draftail. */
.Draftail-block--ITEAG_ALIGN_LEFT {
    text-align: left;
}

.Draftail-block--ITEAG_ALIGN_CENTER {
    text-align: center;
}

.Draftail-block--ITEAG_ALIGN_RIGHT {
    text-align: right;
}

.Draftail-block--ITEAG_ALIGN_JUSTIFY {
    text-align: justify;
}
