{% extends "core/emails/base_email.html" %}

{% block sujet %}Confirmation de la commande {{ numero }}{% endblock %}
{% block preheader %}Votre commande {{ numero }} a bien été enregistrée par la boutique ITEAG.{% endblock %}
{% block categorie %}Boutique ITEAG{% endblock %}

{% block corps %}
<p class="csp-style-05b832ec0811">
    Commande confirmée
</p>
<h1 class="csp-style-a4a35210a4ab">Merci pour votre commande</h1>
<p class="csp-style-bdc59e72ca5d">Bonjour {{ nom }},</p>
<p class="csp-style-358101df95c4">
    Votre commande a bien été enregistrée. Vous recevrez un nouveau message à chaque étape importante de son traitement.
</p>

<table class="csp-style-e1a8f3ee3042" role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
      >
    <tr>
        <td class="csp-style-6c14daecd1ed">
            <span class="csp-style-28d6dcacb135">Commande</span><br>
            <strong class="csp-style-13a3f5b34e37">{{ numero }}</strong>
        </td>
        <td class="csp-style-6c14daecd1ed" align="right">
            <span class="csp-style-28d6dcacb135">Montant</span><br>
            <strong class="csp-style-24b9620d972f">{{ total }} €</strong>
        </td>
    </tr>
    <tr>
        <td class="csp-style-0e9ade7aecc8" colspan="2">
            Mode de règlement&nbsp;: <strong class="csp-style-f01204816fe4">{{ mode_paiement }}</strong>
        </td>
    </tr>
</table>

<p class="csp-style-38965f9b18ca">
    <a class="button csp-style-b485c735879f" href="{{ suivi_url }}"
      >
        Suivre ma commande <span class="csp-style-ed481f5e6478">&nbsp;→</span>
    </a>
</p>
{% endblock %}
