{% load wagtailcore_tags %}
<div class="my-8 overflow-x-auto rounded-lg border csp-style-2998f592f360">
    <table class="w-full min-w-[36rem] border-collapse text-sm">
        {% if value.columns %}
        <thead class="csp-style-4088532c4dae">
            <tr>
                {% for colonne in value.columns %}
                <th scope="col" class="px-4 py-3 text-left font-semibold csp-style-a4a1aa46c7f2">
                    {{ colonne.heading }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for ligne in value.rows %}
            <tr class="border-t csp-style-2998f592f360">
                {% for cellule in ligne %}
                <td class="px-4 py-3 align-top csp-style-81372cea588f">{% include_block cellule %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
